ul.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
  height: 500px;
  list-style-type: none;
  padding-left: 0;
}

ul.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

ul.tabordion li.section {
  display: block;
}

ul.tabordion li.section label {
  background: crimson;
  color: aliceblue;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

ul.tabordion li.section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;
  top: 0;
}

ul.tabordion li.section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

ul.tabordion input[name="sections"]:checked + label {
  background: crimson;
  color: black;
}

ul.tabordion input[name="sections"]:checked ~ article {
  display: block;
}

ul.messages {
  height: 500px;
}
